$primary-color: #1d4e9e;
$secondary-color: #a6b8e4;

@import "assets/vendor/materialize-src/sass/components/color-variables";
@import "assets/vendor/materialize-src/sass/components/color-classes";

$button-color: color("orange", "lighten-3");
$button-background-focus: lighten($button-color, 4%);
$button-raised-background: $button-color;
$button-floating-background: $button-color;

@import "assets/vendor/materialize-src/sass/materialize.scss";

body {
  padding-bottom: 100px;
}

h4 {
  line-height: 1.3em;
}

h4,
.card div.card-content,
.card span.card-subtitle span, .card span.card-title, .card p {
  overflow: hidden;
  text-overflow: ellipsis;
}

a.btn {
  text-overflow: ellipsis;
}

h4, span.card-subtitle {
	color: color("grey", "base");
}

nav.breadcrumbs {
	background: $secondary-color;

	& .sidenav-trigger, & .dropdown-trigger {
	  margin: 0;
	}

}

ul.sidenav {
  height: 100%;
}

ul.sidenav li > a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul.pagination > li.active {
	background: $secondary-color;
}

.pagination li a.no-padding {
    padding: 0;
}

ul.collection > li.collection-item > div > a {
  display: inline-block;
  max-width: calc(100% - 20px);
  padding-right: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.navbar-fixed > nav .input-field {
  position: absolute;
}

nav > div.container > a.brand-logo.center {
  height: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding: 0 100px;
}

nav.breadcrumbs > div.container > div {
  height: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

nav > div.container > ul.right {
  position: relative;
  z-index: 1;
}

#search {

  //position: absolute;
  //transition: width 0.5s ease, color 0.5s ease, background-color 0.5s ease;

  &:focus:not([readonly]) {
    //width: 100%;
  }

}

div.container {
  opacity: 1;
  transition: opacity 0.5s;
  body.searching > & {
    opacity: 0.1;
  }
}

nav.searchbar {
  background-color: $button-color;
  body:not(.searched-at-least-once) & {
    height: 0;
    overflow: hidden;
  }
}

#search-results {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  position: absolute;
  width: 100%;
  transition: visibility 0, opacity 0.5s;
  body:not(.searching) & {
    visibility: hidden;
    opacity: 0;
  }

  & > .collection > .collection-item {
    color: #222;
    width: 100%;

    &[onClick]:hover {
      cursor: pointer;
      background-color: $button-color;
    }

    &.avatar {
      & > span.title, & > p, & > div {
	display: block;
	margin-right: 30px;
      }
    }

    & a {
      padding: 0;
      display: inline;
      color: $link-color;

      &:hover {
	background: none;
      }
    }

  }
}

#search-button {
  z-index: 10;
  visibility: visible;
  opacity: 1;
  position: fixed;
  bottom: 2em;
  right: 2em;
  transition: visibility 0, opacity 0.5s;
  body:not(.searching-initialized) & {
    visibility: hidden;
    opacity: 0;
  }
}

