$primary-color: #1d4e9e;
$secondary-color: #a6b8e4;

@import "assets/vendor/materialize-src/sass/components/color-variables";
@import "assets/vendor/materialize-src/sass/components/color-classes";

$button-color: color("orange", "lighten-3");
$button-background-focus: lighten($button-color, 4%);
$button-raised-background: $button-color;
$button-floating-background: $button-color;

@import "assets/vendor/materialize-src/sass/materialize.scss";

h4, span.card-subtitle {
	color: color("grey", "base");
}

nav.breadcrumbs {
	background: $secondary-color;
}

ul.pagination > li.active {
	background: $secondary-color;
}

ul.collection > li.collection-item > div > a {
	display: inline-block;
	max-width: 90%;
}

div.navbar-fixed > nav .input-field {
  position: absolute;
}

#search {

  //position: absolute;
  //transition: width 0.5s ease, color 0.5s ease, background-color 0.5s ease;

  &:focus:not([readonly]) {
    //width: 100%;
  }

}

div.container {
  opacity: 1;
  transition: opacity 0.5s;
  body.searching > & {
    opacity: 0.1;
  }
}

nav.searchbar {
  background-color: $button-color;
  //transition: height 0.5s ease, color 0.5s ease;
  body:not(.searched-at-least-once) & {
    height: 0;
    overflow: hidden;
  }
}

#search-results {
  opacity: 1;
  z-index: 1;
  position: absolute;
  width: 100%;
  transition: visibility 0, opacity 0.5s;
  body:not(.searching) & {
    visibility:hidden;
    opacity: 0;
  }

  & > div.collection > a.collection-item {
    color: #222;

    &.avatar > p {
      margin-right: 30px;
    }
  }
}

#search-button {
  opacity: 1;
  position: fixed;
  bottom: 2em;
  right: 2em;
  transition: visibility 0, opacity 0.5s;
  body:not(.searching-initialized) & {
    visibility: hidden;
    opacity: 0;
  }
}

