<ul class="right hide-on-med-and-down">
{{ partial "output-formats.html" . }}
</ul>
{{/*
<ul id="dropdown1" class="dropdown-content">
{{ partial "output-formats.html" . }}
</ul>
*/}}
<ul id="sidenav1" class="sidenav">
<li class="collection-header"><h4>Output Formats</h4></li>
{{ partial "output-formats.html" . }}
</ul>
<ul class="right hide-on-large-only">
{{/*
<li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons">more_vert</i></a></li>
*/}}
<li><a class="sidenav-trigger" href="#!" data-target="sidenav1"><i class="material-icons">menu</i></a></li>
</ul>
