<nav class="searchbar">
  <div class="container nav-wrapper">
    <form>
      <div class="input-field">
	<input id="search" type="search" required autocomplete="off">
	<label class="label-icon" for="search"><i class="material-icons">search</i></label>
	<i class="material-icons">close</i>
      </div>
    </form>
    <div id="search-results">
    </div>
  </div>
</nav>
<a
  id="search-button"
  class="btn-floating btn-large waves-effect waves-light"
>
  <i class="material-icons">search</i>
</a>
