<!DOCTYPE html>
<html>
<head>
  {{ partial "header.html" . }}
</head>
<body>
  {{ partial "navbar.html" . }}
  {{ block "breadcrumbs" . }}
  {{ end }}
  {{ partial "searchbar.html" . }}

  <div class="container">
  {{ block "contents" . }}
  <div class="row">
    <div class="col l6 push-l3 m8 push-m2 s12">
      {{ block "main" . }}
      {{ end }}
    </div>
    <div id="timeline" class="col l3 push-l3 hide-on-med-and-down">
      <!--{{ partial "all-sections-previews.html" . }}-->
    </div>
    <div class="col l3 pull-l9 hide-on-med-and-down">
      {{ partial "sections.html" . }}
      {{ partial "taxonomies.html" . }}
    </div>
  </div>
  {{ end }}
  </div>

  {{ partial "footer.html" . }}
</body>
</html>
