<div class="navbar-fixed">
<nav>
  <div class="container nav-wrapper">
    <ul class="right hide-on-med-and-down">
      {{ with .Site.Params.editURL }}
	<li><a href="{{ . }}"><i class="material-icons left">edit</i>Edit</a></li>
      {{ end }}
    </ul>
    {{ with .Site.Params.logo }}
      <a class="brand-logo hide-on-small-only" href="{{ $.Site.BaseURL }}"><img height="64" src="{{ .src }}" alt="{{ .alt }}"/></a>
      <a class="brand-logo hide-on-med-and-up" href="{{ $.Site.BaseURL }}"><img height="56" src="{{ .src }}" alt="{{ .alt }}"/></a>
    {{ end }}
    {{ with .Site.Title }}
    <a class="brand-logo center{{with $.Site.Params.logo}} hide-on-med-and-down{{end}}" href="{{ $.Site.BaseURL }}">{{ . }}</a>
    {{ end }}
  </div>
</nav>
</div>
