{{ if (eq .status "CANCELLED") }}
      <s>{{ dateFormat "Mon, Jan 2, 2006 15:04 MST" .date.Local }}</s><span class="red-text"> (CANCELLED)</span>
{{ else if (eq .status "TENTATIVE") }}
      {{ dateFormat "Mon, Jan 2, 2006 15:04 MST" .date.Local }}<span class="orange-text"> (TENTATIVE DATE AND TIME)</span>
{{ else if (eq .status "CONFIRMED") }}
      {{ dateFormat "Mon, Jan 2, 2006 15:04 MST" .date.Local }}<span class="green-text"> (CONFIRMED)</span>
{{ else }}
      {{ dateFormat "Mon, Jan 2, 2006 15:04 MST" .date.Local }}
{{ end }}
