{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
{{ partial "breadcrumbs-taxonomy-term.html" . }}
{{ partial "searchbar.html" . }}

  <div class="container">
  <div class="row">
    <div class="col m3">
      {{ partial "taxonomies.html" . }}
    </div>
    <div class="col m6">
      {{ if .Data.Term }}
        <h4>{{ .Data.Singular | title }} - {{ .Data.Term }}</h4>
      {{ else }}
        <h4>All {{ .Data.Plural | title }}</h4>
      {{ end }}
      {{ partial "content-pages-pager.html" . }}
    </div>
    <div class="col m3">
      {{ partial "all-sections-previews.html" . }}
    </div>
  </div>
  </div>

{{ partial "footer.html" . }}
