{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
{{ partial "breadcrumbs-taxonomy-term.html" . }}

  <div class="container">
  <div class="row">
    <div class="col m3">
      {{ partial "taxonomies.html" . }}
    </div>
    <div class="col m6">
      <h4 class="grey-text">{{ .Data.Plural | title }}</h4>
      {{ partial "posts-page-list.html" . }}
      {{ partial "pagination.html" . }}
    </div>
    <div class="col m3">
      <h4 class="grey-text">Recent</h4>
      <div class="row">
      {{ partial "posts-recent-list.html" . }}
      </div>
    </div>
  </div>
  </div>

{{ partial "footer.html" . }}
